/* Write your CSS here */
.order-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
}

.title {
  font-family: 'Roboto';
  font-size: 20px;
  color: #000000;
  padding-right: 18px;
}

.delete-button {
  color: #ff0b37;
  border: 1px solid #ff0b37;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
